* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 730px;
    margin: 8px;
    border-radius: 12px;
    background-image: url("images/Eid-ul-fiter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border: 1px solid rgb(179, 179, 179);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: left;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
}

p {
    color: rgb(0, 255, 242);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 24px;
}

button {
    border: 3px solid rgba(200, 120, 87, 0.4);
    border-radius: 30px;
    background-color: blue;
    color: white;
    font-size: 30px;
    padding: 10px;
    width: 190px;
    transition: 0.5s;
}

button:hover{
    border: 3px solid rgb(122, 122, 122);
    background-color: white;
    color: black;
    padding: 10px;
    transition: 0.7s;
    outline-style: double;
    outline: 10px solid black;
    outline-offset: 20px;
}