* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
   border: 1px solid red;
   clear: inherit;   
   display: flex; 
}
 /* img {
    float: top;
}
p {
    float:right
} */
/* 
.content {
   position: relative;
   overflow: hidden;
}

h1 {
    float: left;
}
img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150%;
    height: 600px;
    z-index: -1;
} */
/* .display {
    display: block;
}

@media screen and (max-width: 600px) {
    .display {
      display: none;
    }
} */
