* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* h1 {
    width: 700px;
  border: 1px solid #000000;
  white-space: nowrap;
  font-family: myFirst;
  overflow: hidden;
  text-overflow: ellipsis;
  writing-mode: vertical-rl;
}

@font-face {
    font-family: myFirst;
    src: url(PlaywriteCZ-VariableFont_wght.ttf);
} */


div {
    width: 200px;
    height: 200px;
    margin-top: 20%;
    margin-left: 40%;
    background-color: brown;
    transition: 3s;
    animation-name: rotate;
    animation-duration: 10s;
    /* animation-iteration-count: infinite; */
}

/* div:hover { */
    /* transform: rotateY(180deg); */
    /* transform: matrix(1, 0.3, 0, 1,0, 0); */
    /* transform: scaleX(1.4); */
    /* transform: rotate(360deg); */
/* } */

@keyframes rotate {
    from {background-color: rgb(107, 107, 107);}
    to {background-color:blue;}
}

div > h1 {
    text-align: center;
}