* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    position: absolute;
    left: 45%;
    top: 50%;
    background-image: conic-gradient(red 0deg, red 90deg, yellow 90deg, yellow 180deg, green 180deg, green 270deg, blue 270deg);
    /* background-image: radial-gradient(red 20%, yellow 5%, green 75%); */
    /* background-image: linear-gradient(70deg, red, yellow, green, blue); */
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 50px;
    transition: 0.5s;
}
.main:hover {
    transition: 0.4s;
    box-shadow: 10px 10px lightblue;
    transform: translate(-5%);
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 10px solid transparent;
}