* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
}

table{
    width: 600px;
    /* height: 1200px; */
    border-bottom: 2px solid black;
}

th {
    text-align: left;
    width: 100px;
    background-color: aqua;
    border: 2px solid wheat;
}

tr:nth-child(even) {
    background-color: rgb(214, 214, 214);
}

tr:nth-child(odd) {
    background-color: rgb(131, 71, 71);
}

tr:hover{
    background-color: blue;
}

/* ul {
    list-style-type: square;
    list-style-position: inside;
} */

