*{
margin:0;
padding:0;
box-sizing: border-box;
}


body{
    background-color:rgb(163, 140, 6);
}

.container{
    overflow: hidden;
    width:100%;
    margin:5px;
    position:fixed
}

.navbar{
    display:flex;
    background-color: rgb(23, 165, 123);
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgb(255, 174, 0);
    border-radius: 20px;
    height: 60px;
}

.left-section{
    display: flex;
    justify-content:left;
    align-items: start;
    width: 15%;
}

.left-section a{
    padding: 6px;
    display: flex;
    align-items: center;
    text-decoration-style: none;
    text-decoration: none;
    color: black;
    pointer-events:unset;
}

.left-section a img{
    width: 40px;
    height: 40px;
     background-color:rgb(23, 165, 123);
     border-radius: 20px;
     border: 1px solid;
}

.left-section a p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: oblique;
    font-size: 20px;
    margin-left: 10px;
}

.center-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: rgb(163, 140, 6);
    border: 1px solid rgb(51, 165, 23);
    border-radius: 30px;
    margin: 10px;
}

.center-section .nav-center-links{
    margin: 0 20px 0 20px;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    background-color:rgb(23, 165, 123);
    color: black;
    border-radius: 20px;
    transition: 1s;
}

.center-section .nav-center-links:hover{
    background:transparent;
    background-color:rgb(229, 255, 0);
    transition: 2s;
}

.right-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    background-color: rgb(23, 165, 123);
    margin:4px;
    border: 3px solid rgb(255, 250, 250);
    border-radius: 20px;
}

.right-section button{
    padding: 8px 12px 8px 12px;
    border: 1px solid;
    border-radius: 20px;
    background: transparent;
    color: black;
    transition: 1s;
}

.right-section button:hover{
    background-color:rgb(163, 140, 6) ;
    transition: 2s;
}

.main {
    display: flex;
    /* justify-content: left; */
    padding-top: 80px;
}

.heading {
    display: flex;
    justify-content: left;
    align-items: center;
     margin-top: 100px;
}

.content-para {
    display: flex;
    justify-content: left;
    align-items: left;
    width: 60%;
}

.image {
    margin-right: 50px;
}

.image img {
    height: 500px;
    width: 500px;
    border-radius: 30px;
    border: 1px solid white;
}