*{
margin:0;
padding:0;
box-sizing: border-box;
}

.container{
    overflow: hidden;
    width:100%;
    margin:5px;
    position:fixed
}

.navbar{
    display:flex;
    background-color: rgb(124, 184, 166);
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgb(255, 174, 0);
    border-radius: 20px;
    height: 60px;
}

.left-section{
    display: flex;
    justify-content:left;
    align-items: start;
    width: 15%;
}

.left-section a{
    padding: 6px;
    display: flex;
    align-items: center;
    text-decoration-style: none;
    text-decoration: none;
    color: black;
    pointer-events:unset;
}

.left-section a img{
    width: 40px;
    height: 40px;
     background-color:rgb(23, 165, 123);
     border-radius: 20px;
     border: 1px solid;
}

.left-section a p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: oblique;
    font-size: 20px;
    margin-left: 10px;
}

.center-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: rgb(165, 150, 68);
    border: 1px solid rgb(51, 165, 23);
    border-radius: 30px;
    margin: 10px;
}

.center-section .nav-center-links{
    margin: 0 20px 0 20px;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    background-color:rgb(115, 216, 186);
    color: black;
    border-radius: 20px;
    transition: 1s;
}

.center-section .nav-center-links:hover{
    background:transparent;
    background-color:rgb(183, 202, 6);
    transition: 2s;
}

.right-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    background-color:  rgb(124, 184, 166);
    margin:4px;
    border: 3px solid rgb(255, 250, 250);
    border-radius: 20px;
}

.right-section button{
    padding: 8px 12px 8px 12px;
    border: 1px solid;
    border-radius: 20px;
    background: transparent;
    color: black;
    transition: 1s;
}

.right-section button:hover{
    background-color:rgb(163, 140, 6) ;
    transition: 2s;
}
main h1{
     text-shadow: 3px 3px  rgb(189, 65, 65), 2px 5px 1px rgb(1, 78, 102), 2px 2px 2px rgb(103, 0, 151);
    color: rgb(230, 128, 128);
    text-decoration: underline;
}

body{
    background-color: rgb(53, 41, 156);
}

.main {
    display: flex;
    padding-top: 70px;
}

.heading {
    display: flex;
    justify-content: left;
    /* margin-top: 20px; */
    position: fixed;

}

.content-para {
    margin-top: 50px;
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
}

.content-para i{
    color: white;
}
.image {
    margin-right: 50px;
}

.image img {
    height: 500px;
    width: 500px;
    border-radius: 20px;
    border: 1px solid rgb(12, 12, 12);
}

.material-icons{
    /* margin: 30px;
    padding: 20px; */
}

.icons {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 10px;
    width: 100%;
    background-color: red;
}